pycountry_convert==0.7.2
Click==7.0
requests==2.20.1
pandas==1.0.1
seaborn==0.10.0
numpy==1.18.1
Flask==1.1.1
Flask_Bcrypt==0.7.1
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
python-dotenv==0.15.0
scikit_learn==0.23.2
