pandas==1.0.1
Flask==2.3.2
pycountry_convert==0.7.2
numpy==1.18.1
Click==7.0
requests==2.20.1
seaborn==0.10.0
auto_mix_prep==0.2.0
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
python-dotenv==0.15.0
scikit_learn==0.23.2

