<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">


 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div class="jumbotron">
    <h1 class="display-4">City Travel Recommender</h1>
    <p class="lead">Just enter a couple of questions to recieve your next vacation destination.</p>
    <hr class="my-4">
    <p>More text can go here, I would like to put a picture behind the text.</p>

  </div>
<!--Maybe this needs to be changed to <form>-->
<!--<main role="main" class="container"> -->
<form class="form" action="./" method="get">

  <div class="form-group"> 
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="homeCountry">Which country are you from?</label>
      </div>
    <select class="custom-select" id="homeCountry" name="homeCountry">
     <option value="Afganistan">Afghanistan</option>
     <option value="Albania">Albania</option>
     <option value="Algeria">Algeria</option>
     <option value="American Samoa">American Samoa</option>
     <option value="Andorra">Andorra</option>
     <option value="Angola">Angola</option>
     <option value="Anguilla">Anguilla</option>
     <option value="Antigua & Barbuda">Antigua & Barbuda</option>
     <option value="Argentina">Argentina</option>
     <option value="Armenia">Armenia</option>
     <option value="Aruba">Aruba</option>
     <option value="Australia">Australia</option>
     <option value="Austria">Austria</option>
     <option value="Azerbaijan">Azerbaijan</option>
     <option value="Bahamas">Bahamas</option>
     <option value="Bahrain">Bahrain</option>
     <option value="Bangladesh">Bangladesh</option>
     <option value="Barbados">Barbados</option>
     <option value="Belarus">Belarus</option>
     <option value="Belgium">Belgium</option>

    </select>
    </div>
  </div>
  <div class="form-group"> 
    <div class="input-group mb-3">
        <label class="input-group-text" for="age">What is your age range?</label>

      <select class="custom-select" id="age" name="age">
        <option selected>Choose...</option>
        <option value="15-25">15-25</option>
        <option value="25-40">25-40</option>
        <option value="41-55">41-55</option>
        <option value="55+">55+</option>
        <option value="Prefer not to say">Prefer not to say</option>
      </select>
      <div class="input-group-append">
      </div>
    </div>
  </div>

  <div class="form-group"> 
    <div class="input-group mb-3">
      <label class="input-group-text" for="gender">What is your gender?</label>

      <select class="custom-select" id="gender" name="gender">
        <option selected>Choose...</option>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Prefer not to say">Prefer not to say</option>
      </select>
      <div class="input-group-append">
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-center mt-100">
    <div class="col-md-6"> <select id="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
            <option value="HTML">HTML</option>
            <option value="Jquery">Jquery</option>
            <option value="CSS">CSS</option>
            <option value="Bootstrap 3">Bootstrap 3</option>
            <option value="Bootstrap 4">Bootstrap 4</option>
            <option value="Java">Java</option>
            <option value="Javascript">Javascript</option>
            <option value="Angular">Angular</option>
            <option value="Python">Python</option>
            <option value="Hybris">Hybris</option>
            <option value="SQL">SQL</option>
            <option value="NOSQL">NOSQL</option>
            <option value="NodeJS">NodeJS</option>
        </select> </div>
  </div>

  <script type="text/javascript">
    $(function() {
    $(".chzn-select").chosen();
      });
  </script>

  <select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
    <option value="AC">A</option>
    <option value="AD">B</option>
    <option value="AM">C</option>
    <option value="AP">D</option>
  </select>


  <div class="input-group mb-3">
    <div class="row">
      <label class="input-group-text" for="food">What price range of restaurant do you eat at when you travel? </label>
    </div>
  </div>

  <div class="container">
    <div class="row label">
        <div class="col-md-1"></div>
        <div class="col-md-1">
          <label> Always</label>
        </div>
        <div class="col-md-1">
          <label> Often</label>
        </div>
        <div class="col-md-1">
          <label> Sometimes</label>
        </div>
        <div class="col-md-1">
          <label> Rarely</label>
        </div>
        <div class="col-md-1">
          <label> Never</label>
        </div>
    </div>
    <div class="row price1">
        <div class="col-md-1">
          <label>Price level 1: (Fast Food/Cheap Eats)</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="price1" name="always1">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price1" name="often1">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price1" name="sometimes1">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price1" name="rarely1">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price1" name="never1">
        </div>
    </div>

    <div class="row price2">
        <div class="col-md-1">
          <label>Price level 2: (Casual Dining)</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="price2" name="always2">
        </div>
        <div class="col-md-1">
          <input type="radio" value="price2" name="often2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price2" name="sometimes2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price2" name="rarely2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price2" name="never2">
        </div>
    </div>

    <div class="row price3">
        <div class="col-md-1">
          <label>Price level 3: (Casual Dining)</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="price3" name="always3">
        </div>
        <div class="col-md-1">
          <input type="radio" value="price3" name="often3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price3" name="sometimes3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price3" name="rarely3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price3" name="never3">
        </div>
    </div>
    <div class="row price4">
        <div class="col-md-1">
          <label>Price level 4: (Fine Dining / High End)</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="price4" name="always4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="price4" name="often4">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price4" name="sometimes4">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price4" name="rarely4">
        </div>
        <div class="col-md-1">
           <input type="radio" value="price4" name="never4">
        </div>
    </div>
  </div>


  
  <div class="input-group mb-3">
    <div class="row">
      <label class="input-group-text" for="attraction">From the following types of tourist attractions, which ones are you likely to go do while traveling? </label>
    </div>
  </div>


  <div class="container">
    <div class="row label attraction">
      <div class="col-md-1"></div>
        <div class="col-md-1">
          <label> 4 (Definitely would go)</label>
        </div>
        <div class="col-md-1">
          <label> 3</label>
        </div>
        <div class="col-md-1">
          <label> 2</label>
        </div>
        <div class="col-md-1">
          <label> 1 (Would NOT go)</label>
        </div>
    </div>
    <div class="row amusementpark">
        <div class="col-md-1">
          <label>Amusement Park</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="amusementpark" name="amusementpark4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="amusementpark" name="amusementpark3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="amusementpark" name="amusementpark2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="amusementpark" name="amusementpark1">
        </div>
    </div>
    <div class="row artgallery">
        <div class="col-md-1">
          <label>Art Gallery</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="artgallery" name="artgallery4">
        </div>
        <div class="col-md-1">
           <input type="radio" value="artgallery" name="artgallery3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="artgallery" name="artgallery2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="artgallery" name="artgallery1">
        </div>
    </div>

    <div class="row aquarium">
        <div class="col-md-1">
          <label>Aquarium</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="aqarium" name="aquarium4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="aqarium" name="aquarium3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="aqarium" name="aquarium2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="aqarium" name="aquarium1">
        </div>
    </div>
    <div class="row library">
        <div class="col-md-1">
          <label>Library</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="library" name="library4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="library" name="library3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="library" name="library2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="library" name="library1">
        </div>
    </div>
    <div class="row movietheater">
        <div class="col-md-1">
          <label>Movie Theater</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="movietheater" name="movietheater4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="movietheater" name="movietheater3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="movietheater" name="movietheater2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="movietheater" name="movietheater1">
        </div>
    </div>
    <div class="row museum">
        <div class="col-md-1">
          <label>Museum</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="museum" name="museum4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="museum" name="museum3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="museum" name="museum2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="museum" name="museum1">
        </div>
    </div>
    <div class="row store">
        <div class="col-md-1">
          <label>Mall / Souvenir shop</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="store" name="store4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="store" name="store3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="store" name="store2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="store" name="store1">
        </div>
    </div>
    <div class="row naturalfeature">
        <div class="col-md-1">
          <label>Natural Feature / Beach</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="naturalfeature" name="naturalfeature4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="naturalfeature" name="naturalfeature3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="naturalfeature" name="naturalfeature2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="naturalfeature" name="naturalfeature1">
        </div>
    </div>
    <div class="row park">
        <div class="col-md-1">
          <label>Park</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="park" name="park4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="park" name="park3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="park" name="park2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="park" name="park1">
        </div>
    </div>
      <div class="row temple">
        <div class="col-md-1">
          <label>Place of Worship (Church/Temple)</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="temple" name="temple4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="temple" name="temple3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="temple" name="temple2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="temple" name="temple1">
        </div>
    </div>
      <div class="row zoo">
        <div class="col-md-1">
          <label>Zoo</label>
        </div>
        <div class="col-md-1">
          <input type="radio" value="zoo" name="zoo4">
        </div>
        <div class="col-md-1">
          <input type="radio" value="zoo" name="zoo3">
        </div>
        <div class="col-md-1">
           <input type="radio" value="zoo" name="zoo2">
        </div>
        <div class="col-md-1">
           <input type="radio" value="zoo" name="zoo1">
        </div>
    </div>
  </div>
      

 
<!--</main>-->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
  
  </body>
</html>
