<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">



 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div class="jumbotron">
    <h1 class="display-4">City Travel Recommender</h1>
    <p class="lead">Just enter a couple of questions to recieve your next vacation destination.</p>
    <hr class="my-4">
    <p>More text can go here, I would like to put a picture behind the text.</p>

  </div>
<!--Maybe this needs to be changed to <form>-->
<!--<main role="main" class="container"> -->
<form action="" method="get">

  <div class="form-group"> 
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="homeCountry">Which country are you from?</label>
      </div>
    <select class="custom-select" id="homeCountry" name="homeCountry">
     <option value="Afganistan">Afghanistan</option>
     <option value="Albania">Albania</option>
     <option value="Algeria">Algeria</option>
     <option value="American Samoa">American Samoa</option>
     <option value="Andorra">Andorra</option>
     <option value="Angola">Angola</option>
     <option value="Anguilla">Anguilla</option>
     <option value="Antigua & Barbuda">Antigua & Barbuda</option>
     <option value="Argentina">Argentina</option>
     <option value="Armenia">Armenia</option>
     <option value="Aruba">Aruba</option>
     <option value="Australia">Australia</option>
     <option value="Austria">Austria</option>
     <option value="Azerbaijan">Azerbaijan</option>
     <option value="Bahamas">Bahamas</option>
     <option value="Bahrain">Bahrain</option>
     <option value="Bangladesh">Bangladesh</option>
     <option value="Barbados">Barbados</option>
     <option value="Belarus">Belarus</option>
     <option value="Belgium">Belgium</option>

    </select>
    </div>
  </div>

  <div class="input-group mb-3">
      <label class="input-group-text" for="age">What is your age range?</label>

    <select class="custom-select" id="age" name="age">
      <option selected>Choose...</option>
      <option value="15-25">15-25</option>
      <option value="25-40">25-40</option>
      <option value="41-55">41-55</option>
      <option value="55+">55+</option>
      <option value="Prefer not to say">Prefer not to say</option>
    </select>
    <div class="input-group-append">
    </div>
  </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="gender">What is your gender?</label>

    <select class="custom-select" id="gender" name="gender">
      <option selected>Choose...</option>
      <option value="Female">Female</option>
      <option value="Male">Male</option>
      <option value="Prefer not to say">Prefer not to say</option>
    </select>
    <div class="input-group-append">
    </div>
    </div>


<div class="row d-flex justify-content-center mt-100">
    <div class="col-md-6"> <select id="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
            <option value="HTML">HTML</option>
            <option value="Jquery">Jquery</option>
            <option value="CSS">CSS</option>
            <option value="Bootstrap 3">Bootstrap 3</option>
            <option value="Bootstrap 4">Bootstrap 4</option>
            <option value="Java">Java</option>
            <option value="Javascript">Javascript</option>
            <option value="Angular">Angular</option>
            <option value="Python">Python</option>
            <option value="Hybris">Hybris</option>
            <option value="SQL">SQL</option>
            <option value="NOSQL">NOSQL</option>
            <option value="NodeJS">NodeJS</option>
        </select> </div>
</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
    <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>



  <div class="input-group mb-3">
    <div class="row">
      <label class="input-group-text" for="food">What price range of restaurant do you eat at when you travel? </label>
    </div>
  </div>

 

  <fieldset id="price1">
    <label class="form-group" for=price1> Price Level 1: (Fast/Cheap Eats) </label>
    <input type="radio" value="always" name="price1">Always 
    <input type="radio" value="often" name="price1">Often
    <input type="radio" value="sometimes" name="price1">Sometimes
    <input type="radio" value="rarely" name="price1">Rarely
    <input type="radio" value="never" name="price1">Never
  </fieldset>

  <fieldset id="price2">
    <label class="form-group" for=price2> Price Level 2: (Casual Dining) </label>
    <input type="radio" value="always" name="price2">Always
    <input type="radio" value="often" name="price2">Often
    <input type="radio" value="sometimes" name="price2">Sometimes
    <input type="radio" value="rarely" name="price2">Rarely
    <input type="radio" value="never" name="price2">Never
  </fieldset>


  <fieldset id="price3">
    <label class="form-group" for=price3> Price Level 3: (Upscale Dining) </label>
    <input type="radio" value="always" name="price3">Always
    <input type="radio" value="often" name="price3">Often
    <input type="radio" value="sometimes" name="price3">Sometimes
    <input type="radio" value="rarely" name="price3">Rarely
    <input type="radio" value="never" name="price3">Never
  </fieldset>

  <fieldset id="price4">
    <label class="form-group" for=price4> Price Level 4: (Fine dining/high End) </label>
    <input type="radio" value="always" name="price4">Always
    <input type="radio" value="often" name="price4">Often
    <input type="radio" value="sometimes" name="price4">Sometimes
    <input type="radio" value="rarely" name="price4">Rarely
    <input type="radio" value="never" name="price4">Never
  </fieldset>



  <div class="input-group mb-3">
    <div class="row">
      <label class="input-group-text" for="attraction">From the following types of tourist attractions, which ones are you likely to go do while traveling? </label>
    </div>
  </div>

   <fieldset id="artgallery">
    <label class="form-group" for=artgallery> Art Gallery</label>
    <input type="radio" value="1" name="artgallery">1 (Would NOT go) 
    <input type="radio" value="2" name="artgallery">2
    <input type="radio" value="3" name="artgallery">3
    <input type="radio" value="4" name="artgallery">4 (Definitely would go)
  </fieldset>

  <fieldset id="library">
    <label class="form-group" for=library> Library </label>
    <input type="radio" value="1" name="library">1 (Would NOT go) 
    <input type="radio" value="2" name="library">2
    <input type="radio" value="3" name="library">3
    <input type="radio" value="4" name="library">4 (Definitely would go)
  </fieldset>

  <fieldset id="museum">
    <label class="form-group" for=museum> Museum</label>
    <input type="radio" value="1" name="museum">1 (Would NOT go) 
    <input type="radio" value="2" name="museum">2
    <input type="radio" value="3" name="museum">3
    <input type="radio" value="4" name="museum">4 (Definitely would go)
  </fieldset>

  <fieldset id="aquarium">
    <label class="form-group" for=aquarium> Aquarium</label>
    <input type="radio" value="1" name="aquarium">1  
    <input type="radio" value="2" name="aquarium">2
    <input type="radio" value="3" name="aquarium">3
    <input type="radio" value="4" name="aquarium">4 
  </fieldset>

  <fieldset id="amusementpark">
    <label class="form-group" for=amusementpark> Amusement Park</label>
    <input type="radio" value="1" name="amusementpark">1 
    <input type="radio" value="2" name="amusementpark">2
    <input type="radio" value="3" name="amusementpark">3
    <input type="radio" value="4" name="amusementpark">4 
  </fieldset>

  <fieldset id="zoo">
    <label class="form-group" for=zoo> Zoo</label>
    <input type="radio" value="1" name="zoo">1
    <input type="radio" value="2" name="zoo">2
    <input type="radio" value="3" name="zoo">3
    <input type="radio" value="4" name="zoo">4 
  </fieldset>

  <fieldset id="movietheater">
    <label class="form-group" for=movietheater> Movie Theater</label>
    <input type="radio" value="1" name="movietheater">1
    <input type="radio" value="2" name="movietheater">2
    <input type="radio" value="3" name="movietheater">3
    <input type="radio" value="4" name="movietheater">4 
  </fieldset>

  <fieldset id="store">
    <label class="form-group" for=store> Mall / Souvenir shop</label>
    <input type="radio" value="1" name="store">1
    <input type="radio" value="2" name="store">2
    <input type="radio" value="3" name="store">3
    <input type="radio" value="4" name="store">4 
  </fieldset>

  <fieldset id="park">
    <label class="form-group" for=park> Park</label>
    <input type="radio" value="1" name="park">1
    <input type="radio" value="2" name="park">2
    <input type="radio" value="3" name="park">3
    <input type="radio" value="4" name="park">4 
  </fieldset>

  <fieldset id="naturalfeature">
    <label class="form-group" for=naturalfeature> Natural Feature / Beach</label>
    <input type="radio" value="1" name="naturalfeature">1
    <input type="radio" value="2" name="naturalfeature">2
    <input type="radio" value="3" name="naturalfeature">3
    <input type="radio" value="4" name="naturalfeature">4 
  </fieldset>

  <fieldset id="temple">
    <label class="form-group" for=temple> Place of Worship (Church/Temple)</label>
    <input type="radio" value="1" name="temple">1
    <input type="radio" value="2" name="temple">2
    <input type="radio" value="3" name="temple">3
    <input type="radio" value="4" name="temple">4 
  </fieldset>

 


  <div class="input-group mb-3">


    <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
      <option value="" disabled selected>Choose your country</option>
      <option value="1">USA</option>
      <option value="2">Germany</option>
      <option value="3">France</option>
      <option value="4">Poland</option>
      <option value="5">Japan</option>
    </select>
    <label class="mdb-main-label">Label example</label>
    <button class="btn-save btn btn-primary btn-sm">Save</button>
  <div class="input-group-append">
  </div>

  <div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
  </div>
</form>
<!--</main>-->


    


  
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
  
  </body>
</html>
